body {
  margin: 0;
}
.page {
  display: grid;
  grid-template-columns: 200px 600px;
  grid-template-rows: 100px;
  margin: 0 auto;
  inline-size: 800px;
  block-size: 100vh;
}

.header {
  background-color: aqua;
  grid-column: 1 / -1;
}

.navigation {
  background-color: blueviolet;
}

.main {
  background-color: chartreuse;
}