.currentTime {
  block-size: 2px;
  background-color: var(--red10);
  inline-size: 5rem;
  position: absolute;
  z-index: 2;
  /* left: 0; */
  /* right: 0; */
}

.currentTime::before {
  content: '';
  inline-size: 1rem;
  block-size: 1rem;
  display: block;
  border-radius: 50%;
  background: var(--red10);
  position: absolute;
  transform: translateY(-50%);
}