.calendar-week {
  display: grid;
  grid-template-columns: 100px repeat(7, minmax(100px, 1fr));
  grid-template-rows: repeat(25, minmax(50px, 1fr));
  min-block-size: 100vh;
  min-block-size: 700px;
  margin-block-end: 2em;
}

.hourCell, .calendar-timezone {
  position: sticky;
  left: 0;
  background-color: var(--white);
  place-self: start end;
}

.calendarDay {
  position: sticky;
  top: 0;
  background-color: var(--white);
}


.calendar-detail {
  border-inline-start: 1px solid var(--gray20);
  border-block-end: 1px solid var(--gray20);
  padding: .2em;
}

.calendar-detail:nth-child(8n) {
  border-inline-end: 1px solid var(--gray20);
}