.task {
  color: var(--white);
  background-color: var(--blue10);
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 10px;
  padding-block-end: 10px;
  font-size: 12px;
  letter-spacing: 0.5%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  font: var(--body2-medium);
  position: relative;
}

.task p {
  margin: 0;
  white-space: nowrap;
}
