.task {
  color: var(--white);
  font: var(--body2-medium);
  background-color: var(--blue10);
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: .625rem;
  padding-block-end: .625rem;
  font-size: .75rem;
  letter-spacing: 0.5%;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  border-radius: .25rem;
}

.task p {
  margin: 0;
  white-space: nowrap;
}
