.container {
  display: grid;
  grid-template-columns: [line1] 200px [line2] 200px [line3];
  /* grid-template-rows: 200px 200px; */
  gap: 20px;
}

.item {
  border: 1px solid red;
}

.item:nth-of-type(3) {
  border-color: blue;
  grid-column-start: line1;
  grid-row-start: 1;
}