.container {
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 200px; */
  grid-template-rows: repeat(4, 200px);
  gap: 1rem;
  max-inline-size: 1024px;
  margin: auto;
}

.item {
  border: 5px solid red;
  counter-increment: item;
  text-align: center;
}

.item::before {
  content: counter(item);
}